body {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.clock {
font-family: sunflower;
}

.clock_box_1 {
  width: 300px;
  border: 1px solid black;
  background: orange;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
}

.clock_box_1a {
  display: flex;
  justify-content: space-between;
  padding: 0;
  height: 50px;
}

.clock_box_1b {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.Tabs {
  font-family: sunflower;
}

.Erything {
  background: lightblue;
  height: 150px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.titles {
  display: flex;
  padding: 0;
  margin: 0;
}

.content {
  text-align: center;
}

button {
  background: lightblue;
  border: none;
  border: 1px solid black;
}

li {
  list-style: none;
}
